@model IEnumerable<HKPatients.Models.PatientTreatment>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = $"List of Treatment: {Context.Session.GetString("DName")} for {Context.Session.GetString("FullName")}";
}

    <h1>Treatment for @Context.Session.GetString("DName") </h1>
    <h2>Patient: @Context.Session.GetString("FullName")  </h2>

<p>
    <a asp-action="Create">Create New Treatment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePrescribed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Convert.ToString(string.Format("{0:dd MMMM yyyy HH:mm}", item.DatePrescribed))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment.Name)
            </td>
            <td>
                <span style="white-space: pre-line">@Html.DisplayFor(modelItem => item.Comments)</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientTreatmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientTreatmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientTreatmentId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
