@model IEnumerable<HKPatients.Models.MedicationType>

@{
    ViewData["Title"] = "List of Medication Types";
}

<h2>List Medication Types</h2>

<p>
    <a asp-action="Create">Create a New Medication Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@item.Name, "Index", "HKMedications", routeValues: new {mID = item.MedicationTypeId, mName = item.Name }, null) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
